<!DOCTYPE html>
<head>
    <script src="{{static_url("js/jquery.min.js")}}"></script>
    <script src="{{static_url("js/script.js")}}"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Vocabulary.com</title>
</head>
<body>
    <h2>Look up words!</h2>
    <form method="POST">
        <p><span>Look up:</span><input type="text" id="word"/></p>
        <p><input type="BUTTON" value="SEARCH" id="search" /></p>
    </form>
</body>